<!Doctype html>
{% load static %}
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/more.css' %}">


<!--- Include the above in your HEAD tag -->
</head>
<body>
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Price Pro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Log in <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Sign up</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/services">Ice Cream</a>
          <a class="dropdown-item" href="#">Softy</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Family Pack</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
 </nav>
 <h1> Welcome {{name}} </h1>
{% if users != None%}
<h2> List of users </h2>
 {% for user in users %}
 <a href="{% url 'userdetail' user.id %}">{{user.username}} </a><br><br>
{% endfor %}
{% endif%}
<form action='' method= "POST">
    {% csrf_token %}
      {% if form.non_field.errrors %}
        {% for error in form.non_field.errrors  %}
       <p> {{error}} </p>
        {% endfor %} 
      {% endif %}
    {% for fm in form %}
     {{fm.label_tag}} {{fm}} {{fm.errors}} <br><br>
    {% endfor %}
    <input type='submit' value="save">
</form>    
 </body>
 </html>